*{
    text-align: center;
    background-color:#F8F4EC;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BackButton{
    text-decoration: none;
    font-size: 20px;
    border:8px solid black;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flex;
    position: relative;
    right: 1000px;
    top: 90px;
}

.ArtHed{
    display: inline-flex;
    position: relative;
    font-size: 30px;
    top: 100px;
}

.Character01Info{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    top: 200px;
}

.Character02Info{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    top: 200px;
}

.Anotomy01Info{
    display: inline-flex;
    position: relative;
    flex-direction: column;
    top: 200px;
}
