*{
    background-color: #F8F4EC;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.PageHed{
    display: inline-flex;
    font-size: 30px;
    position: relative;
    top: 100px;
}

.BackButton{
    font-size: 20px;
    border:8px solid black;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-flex;
    position: relative;
    left: 150px;
    bottom: 970px;
}

#ReflexHed{
    display: inline-flex;
    position: relative;
    top: 35px;
}

#ReflexImg{
    display: inline-flex;
    position: relative;
    gap: 60px;
    top: 100px;
    bottom: 850px;
}

#ReflexVid{
    display: inline-flex;
    position: relative;
    top: 190px;
}

#ReflexGameDescription{
    font-size: 20px;
    display: inline-flexbox;
    position: relative;
    top: 160px;
    padding-right: 150px;
    padding-left: 150px;
}

.ReflexGame{
    display: flexbox;
    position: relative;
    top: 200px;
    margin-left: 200px;
    margin-right: 200px;
}

.EnemyBehav{
    font-size: 20px;
    display: inline-flex;
    position: relative;
    top: 600px;
    right: 80px;
    gap: 50px;
}
