*{
    text-decoration: none;
    background-color:darkgray;
}

.Links{
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin-left: 30px;
    position: relative;
    bottom: 280px
}

#About{
    border: 5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Games{
    border: 5px solid black;
    padding-left: 20px;
    padding-right: 20px; 
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Art{
    border: 5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.romanesco-regular {
    font-family: "Romanesco", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    display: flex;
    justify-content: center;
}

.heading {
    text-align: center;
}

.myimg{
    text-align: center;
    border-radius: 30px;
    border: 30px solid;
    display: inline-flex;
    position: relative;
    left: 1000px;
}

.DownloadButton{
    text-decoration: none;
    font-size: 30px;
    border:8px solid black;
    display: inline-flex;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

